$yeseva: "Yeseva One", "Times New Roman", sans-serif;
$montserrat: "Montserrat", monospace;
$mulish: "Mulish", "Arial", serif;

$black: #000b12;
$white: #ffffff;
$primary: #2cacad;
$gray: #666666;
$secondary: #02364a;
